body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 15px; 
  padding: 8px;     
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #002244;
  border-radius: 5px;
}

.form-section, .event-list {
  max-width: 600px;
  margin: 32px auto;     
  background: white;
  padding: 32px;          
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;   
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

button.btn-primary {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button.btn-primary:hover {
  background-color: #004999;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

.hero {
  background-color: #a72828;
  color: white;
  padding: 48px 16px; 
  text-align: center;
}

.hero-content h2 {
  font-size: 32px; 
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 32px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn-orange {
  background-color: #f57c00;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-orange:hover {
  background-color: #e65100;
}

.event-card {
  background: #eef3f9;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
}


@media (max-width: 768px) {
  .navbar .logo h1 {
    font-size: 16px;
  }
  .navbar .logo img {
    height: 30px;
  }
  .navbar ul {
    gap: 10px;
  }
}
